$encampment: white;
$waste: brown;
$needle: yellow;

text {
  fill: white;
}

svg {
  position: relative;
}

path {
  fill-opacity: 0.2;
  &.waste { fill: $waste; }
  &.needle { fill: $needle; }
  &.encampment {  fill: $encampment; }
}

.legend {
  $size: 10px;
  display: inline-block;
  width: $size;
  height: $size;
  border: 1px solid rgba(#999, 0.8);
  border-radius: 5px;

  &::after {
    position: absolute;
    content: "|";
    color: lightgray;
    bottom: 0;
    left: 18px;
  }

  &.waste { background-color: lighten($waste, 15%); }
  &.needle { background-color: $needle; }
  &.encampment {  background-color: $encampment; }
}
