<article>
    <header>
        <a href="http://www.sfchronicle.com" target="_blank" title="Return to sfchronicle.com">
            <img src="http://ww2.hdnux.com/photos/40/63/25/8598893/2/180x180.png" alt="The San Francisco Chronicle">
        </a>
    </header>
    <h1>Mapping 311 complaints in San Francisco</h1>
    <p class="byline">By <a href="https://twitter.com/aboutaaron">Aaron Williams</a> and <a href="https://twitter.com/joaquinpalomino">Joaquin Palomino</a></p>

    <p>Since 2011, San Francisco’s 311 portal has recorded more than 48,000 complaints about encampments, human waste and needles on the streets.  The total volume such calls has not only increased, but also their proportion, suggesting that residents are growing more and more frustrated with urine, feces, needles and tents on the streets. While encampments complaints are directly related to homelessness, the correlation is weaker for needle and human waste.</p>

    <div class="toggle-control">
        <form>
            <h2>Complaint type</h2>
            <label>

                <input id="encampment" class="toggle" type="checkbox" checked=""><span class="legend encampment"></span> Encampment
            </label>
            <label>

                <input id="waste" class="toggle" type="checkbox" checked=""><span class="legend waste"></span> Human Waste
            </label>
            <label>

                <input id="needle" class="toggle" type="checkbox" checked=""><span class="legend needle"></span> Needles
            </label>
            <hr>
            <h2>Years</h2>
            <select id="years" autocomplete="off">
                <option value="all">2011 - 2015</option>
                <option value="2011">2011</option>
                <option value="2012">2012</option>
                <option value="2013">2013</option>
                <option value="2014">2014</option>
                <option value="2015">2015</option>
            </select>
        </form>
    </div>

    <hr>
    <small class="source"><b>Source:</b> Public Works and 311
</small>
</article>
