{% load staticfiles %}
{% load compress %}
<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta property="og:title" content="homelessness">
    <meta property="og:description" content="">

    <title>Mapping 311 complaints in San Francisco | San Francisco Chronicle</title>
    <link rel="icon" href="http://www.sfchronicle.com/favicon.ico?v=2">

    {% compress css %}
    <link rel="stylesheet" href="{% static 'bower_components/normalize-css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'bower_components/leaflet/dist/leaflet.css' %}">
    <link rel="stylesheet" href="{% static "styles/main.css" %}">
    {% endcompress %}

    <!-- Modernizr -->
    {% compress js %}
    <script src="{% static "bower_components/modernizr/modernizr.js" %}"></script>
    {% endcompress %}
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {% block content %}
    {% endblock %}

    {% compress js %}
    <script src="{% static 'scripts/pbf-dev.js'%}"></script>
    <script src="{% static 'scripts/geobuf-dev.js'%}"></script>
    <script src="{% static 'bower_components/d3/d3.js'%}"></script>
    <script src="{% static 'bower_components/leaflet/dist/leaflet-src.js'%}"></script>
    {% endcompress %}

    {% compress js %}
    <script src="{% static 'scripts/main.js' %}"></script>
    {% endcompress %}

    {% block javascript %}
    {% endblock %}

    <script type="text/javascript">
        (function() {
            var css = document.createElement('link');
            css.href = '//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css';
            css.rel = 'stylesheet'; css.type = 'text/css';
            document.getElementsByTagName('head')[0].appendChild(css);
        })();
    </script>

    {% if debug %}
    <!-- livereload -->
    <script>document.write('<script src="http://'
        + location.host.split(':')[0]
        + ':35729/livereload.js"></'
        + 'script>')</script>
    {% endif %}
  </body>
</html>
